<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
      
    </head>
    <body>
        <div ng-app>
          <div ng-controller="kayıtformucontroller">
              <input type="text" name="name" id="name" ng-model="name"/>
              <input type="text" name="surname" id="name" ng-model="surname"/>
              <input type="text" name="mail" id="mail" ng-model="mail"/>
              <input type="text" name="password" id="password" ng-model="password"/>
              <input type="text" name="country" id="country" ng-model="country"/>
              <input type="text" name="county" id="county" ng-model="county"/>
              <input type="text" name="resume" id="resume" ng-model="resume"/>
<a href="javascript:void(0);" ng-click="form()">login</a>

  <ul ng-repeat="name in form">
            <li>{{$index}} - {{name.ad}}
                {{$index}} - {{surname.ad}}
                {{$index}} - {{mail.ad}}
                {{$index}} - {{password.ad}}
                {{$index}} - {{country.ad}}
                {{$index}} - {{county.ad}}
                {{$index}} - {{resume.ad}}<a href="#" 
                                            
            ng-click="kayıtformusil($index)">delete</a> </li>
        </ul>

              
        </div>
        </div>
    </body>
</html>
